<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Dosa Corner</display-name>
	<welcome-file-list>
		<welcome-file>JSP/home.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Exceptions</exception-type>
		<location>/JSP/errorPage</location>
	</error-page>
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/JSP/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<jsp-file>/JSP/signIn.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/signIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/JSP/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageAccount</servlet-name>
		<jsp-file>/JSP/manageAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageAccount</servlet-name>
		<url-pattern>/manageAccount.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAccount</servlet-name>
		<jsp-file>/JSP/updateAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAccount</servlet-name>
		<url-pattern>/updateAccount.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LeaveApplication</servlet-name>
		<jsp-file>/JSP/leaveApplication.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaveApplication</servlet-name>
		<url-pattern>/leaveApplication</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApplyLeave</servlet-name>
		<jsp-file>/JSP/applyForLeave.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyLeave</servlet-name>
		<url-pattern>/applyForLeave</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LeaveStatus</servlet-name>
		<jsp-file>/JSP/leaveStatus.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaveStatus</servlet-name>
		<url-pattern>/leaveStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateLeavesView</servlet-name>
		<jsp-file>/JSP/updateLeaveStatusView.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>UpdateLeaveController</display-name>
		<servlet-name>UpdateLeaveController</servlet-name>
		<servlet-class>com.hrms.controller.UpdateLeaveController</servlet-class>
	</servlet>
	<servlet>
		<description>
  	</description>
		<display-name>UpdateLeaveStatus</display-name>
		<servlet-name>UpdateLeaveStatus</servlet-name>
		<servlet-class>com.hrms.controller.UpdateLeaveStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLeavesView</servlet-name>
		<url-pattern>/updateLeaveStatusView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLeaveController</servlet-name>
		<url-pattern>/UpdateLeaveController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLeaveStatus</servlet-name>
		<url-pattern>/UpdateLeaveStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminRegistrationPage</servlet-name>
		<jsp-file>/JSP/adminRegister.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminRegistrationPage</servlet-name>
		<url-pattern>/adminRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeSignIn</servlet-name>
		<jsp-file>/JSP/employeeSignIn.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LeaveViewAfterUpdateController</display-name>
		<servlet-name>LeaveViewAfterUpdateController</servlet-name>
		<servlet-class>com.hrms.controller.LeaveViewAfterUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeSignIn</servlet-name>
		<url-pattern>/employeeSignIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeaveViewAfterUpdateController</servlet-name>
		<url-pattern>/LeaveViewAfterUpdateController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttendanceManagement</servlet-name>
		<jsp-file>/JSP/attendanceManagement.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PunchInController</display-name>
		<servlet-name>PunchInController</servlet-name>
		<servlet-class>com.hrms.controller.PunchInController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttendanceManagement</servlet-name>
		<url-pattern>/attendanceManagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PunchInController</servlet-name>
		<url-pattern>/PunchInController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PunchIn</servlet-name>
		<jsp-file>/JSP/punchIn.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AttendanceRecorderController</display-name>
		<servlet-name>AttendanceRecorderController</servlet-name>
		<servlet-class>com.hrms.controller.AttendanceRecorderController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AttendanceCalendar</display-name>
		<servlet-name>AttendanceCalendar</servlet-name>
		<servlet-class>com.hrms.controller.AttendanceCalendar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PunchIn</servlet-name>
		<url-pattern>/punchIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceRecorderController</servlet-name>
		<url-pattern>/AttendanceRecorderController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceCalendar</servlet-name>
		<url-pattern>/AttendanceCalendar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttendanceCalendarView</servlet-name>
		<url-pattern>/attendanceCalendarView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttendanceCalendarView</servlet-name>
		<jsp-file>/JSP/attendanceCalendarView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/changePassword.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<jsp-file>/JSP/changePassword.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dosas</servlet-name>
		<url-pattern>/dosas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dosas</servlet-name>
		<jsp-file>/JSP/dosas.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProjectHRView</servlet-name>
		<url-pattern>/createProjectHRView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateProjectHRView</servlet-name>
		<jsp-file>/JSP/createProjectHRView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignHierarchyView</servlet-name>
		<url-pattern>/assignHierarchyView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AssignHierarchyView</servlet-name>
		<jsp-file>/JSP/assignHierarchyView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectManagementView</servlet-name>
		<url-pattern>/projectManagementView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignHierarchyFlowController</servlet-name>
		<url-pattern>/AssignHierarchyFlowController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignHierarchySuperiorsController</servlet-name>
		<url-pattern>/AssignHierarchySuperiorsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AssignHierarchyController</servlet-name>
		<url-pattern>/AssignHierarchyController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectManagementView</servlet-name>
		<jsp-file>/JSP/projectManagementView.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AssignHierarchyFlowController</display-name>
		<servlet-name>AssignHierarchyFlowController</servlet-name>
		<servlet-class>com.hrms.controller.AssignHierarchyFlowController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AssignHierarchySuperiorsController</display-name>
		<servlet-name>AssignHierarchySuperiorsController</servlet-name>
		<servlet-class>com.hrms.controller.AssignHierarchySuperiorsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AssignHierarchyController</display-name>
		<servlet-name>AssignHierarchyController</servlet-name>
		<servlet-class>com.hrms.controller.AssignHierarchyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LeaveManagementView</servlet-name>
		<jsp-file>/JSP/leaveManagement.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaveManagementView</servlet-name>
		<url-pattern>/leaveManagementView</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/*.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>
</web-app>